extends ../../components/head/head
block title
    | Sawedwood

block main
    include ../../components/header/header
    include ../../components/form/form
    div.slider-page
        div.section.firstPage(data-anchor='')#-
            div.container-slide
                div.container-information
                    div.text-information
                        span Авторская мебель ручной работы
                        div.container-button
                            img.arrow(src=require('./img/arrow.png'))
                            button.order.open-form Заказать
                    span.coutter-slider
                        div.swiper-pagination
                div.slider-one.swiper-container
                    div.swiper-wrapper
                        img.swiper-slide.one-slide(src=require('./img/first-slider/first-image.png'))
                        img.swiper-slide.two-slide(src=require('./img/first-slider/first-image.png'))
                        img.swiper-slide.three-slide(src=require('./img/first-slider/first-image.png'))
                    div.nav
                        div.swiper-button-prev.slider-one-button-prev
                        div.swiper-button-next.slider-one-button-next
            div.arrow-bottom
        div.section.secondPage(data-anchor='secondPage')#secondPage
            div.info-container
                div.title-info-container
                    img(src=require('./img/why-me/house_icon.svg'))
                    span Собственное производство
                span На этом самом месте должно быть описание почему мы и никто больше, очень хорошо будет если это будет кратко и по делу, без лишней воды
            div.container-why-me
                span Почему нас выбирают
                div.container-icon
                    mixin creaceCard(pathImg, textContent)
                        div.template
                            img(src=pathImg)
                            span=textContent
                    +creaceCard(require('./img/why-me/handmade.svg'), 'Ручная работа')
                    +creaceCard(require('./img/why-me/material.svg'), 'Натуральные материалы')
                    +creaceCard(require('./img/why-me/design.svg'), 'Индивидульный дизайн')
                    +creaceCard(require('./img/why-me/garanty.svg'), 'Бессрочная гарантия')
                div.arrow-bottom
        div.section.thirdPage(data-anchor='thirdPage')#thirdPage
        div.section.fourthPage(data-anchor='fourthPage')#fourthPage
        div.section.fivthPage(data-anchor='fivthPage')#fivthPage
        div.section.sixthPage(data-anchor='sixthPage')#sixthPage
        div.section.seventhPage(data-anchor='seventhPage')#seventhPage
        div.section.eighthPage(data-anchor='eighthPage')#eighthPage