extends ../../components/head/head
block title
    | Sawedwood

block main
    include ../../components/header/header
    include ../../components/form/form
    div.slider-page
        div.section.firstPage(data-anchor='')#-
            div.container-slide
                div.container-information
                    div.text-information
                        span.typed-text Авторская мебель ручной работы
                        div.container-button
                            img.arrow(src=require('./img/arrow.png'))
                            button.order.open-form Заказать
                        div.coutter-slider
                            div.swiper-pagination
                div.slider-one.swiper-container
                    div.swiper-wrapper
                        div.swiper-slide.one-slide
                        div.swiper-slide.two-slide
                        div.swiper-slide.three-slide
                        div.swiper-slide.four-slide
                        div.swiper-slide.five-slide
                        div.swiper-slide.six-slide
                    div.nav
                        div.swiper-button-prev.slider-one-button-prev
                        div.swiper-button-next.slider-one-button-next
            div.arrow-bottom
        div.section.secondPage(data-anchor='secondPage')#secondPage
            div.container-slide-page-two
                h1 Почему нас выбирают
                div.container-why-we
                    mixin creaceCard(pathImg, textTitle, textContent, className)
                        div.item
                            div.item-pic(class=className)
                                img(src=pathImg)
                            div.item-text=textTitle
                            div.item-descr
                                span=textContent
                    +creaceCard(require('./img/why-me/house_icon.svg'), 'Собственное производство', 'Мы изготавливаем мебель с большой любовью к своему делу, убедитесь в этом сами, посетив наши мастерские, которые находятся в Москве. В них команда опытных технологов, дизайнеров и краснодеревщиков творят настоящие чудеса. Для реализации ваших идей мы используем самое современное и технологичное оборудование.', 'one-element')
                    +creaceCard(require('./img/why-me/handmade.svg'), 'Ручная работа', 'Один из наших принципов — это индивидуальный подход к клиенту. Каждый стол создаётся вручную специально для вас. Мы не приверженцы массового производства, на изготовление одного стола наши мастера затрачивают в среднем один месяц. Только так мы можем гарантировать качество нашей продукции и учесть каждую мелочь, чтобы в конечном итоге вы получили уникальный и качественный предмет интерьера.', 'two-element')
                    +creaceCard(require('./img/why-me/material.svg'), 'Натуральные материалы', 'Для производства мебели мы используем только массив ценных пород натуральной древесины, благодаря этому гарантируем долговечность и качество продукции. Вся мебель покрывается только натуральными маслами, обладает уникальной природной красотой, не содержит вредных веществ и создаёт благоприятный и здоровый климат в помещении.', 'three-element')
                    +creaceCard(require('./img/why-me/design.svg'), 'Индивидульный дизайн', 'Мы любим сложные задачи и готовы реализовать любой амбициозный проект. Изготавливаем изделия любой сложности и в любых объемах, как для частных, так и для коммерческих объектов. Свяжитесь с нами, и мы качественно реализуем вашу задумку и поможем в разработке проекта.', 'four-element')
                    +creaceCard(require('./img/why-me/garanty.svg'), 'Бессрочная гарантия', 'За качество отвечаем. Мы уверены в нашей продукции и поэтому гарантируем, что у мебели будут отсутствовать материальные или производственные дефекты. Первоклассный сервис не заканчивается после покупки. Раз в год, при необходимости, наши специалисты готовы произвести гарантийное обслуживание вашего изделия- исправить возникшие в процессе эксплуатации дефекты или устранить следы естественного износа. ', 'five-element')
            div.arrow-bottom
        div.section.thirdPage(data-anchor='thirdPage')#thirdPage
            div.content-slide-page-three
                div.title-slide
                    h1 Только натуральные материалы
                div.content-material
                    mixin createMaterial(classname, textTitle)
                        div.img(class=classname)
                            span=textTitle
                    div.first
                        +createMaterial('korgach', 'Карагач')
                        +createMaterial('klen', 'Клён')
                    div.second
                        +createMaterial('yasen', 'Ясень')
                    div.threed
                        +createMaterial('shelkovica', 'Шелковица')
                    div.fourth
                        +createMaterial('dub', 'Дуб')
                        +createMaterial('topol', 'Тополь')
                    div.fifth
                        +createMaterial('oreh', 'Орех')
            div.wrapper
                div.full-information-material.swiper-container
                    div.swiper-wrapper
                        mixin createSlideMaterial (className, imgPaht, title, prev, next, textFirstP, textSecondP, textThreedP)
                            div.swiper-slide
                                div.inform#inf
                                    img.igm(src=imgPaht class=className)
                                    div.close.close-slider
                                    span.title=title
                                    p=textFirstP
                                    p=textSecondP
                                    p.last=textThreedP
                                    div.nav
                                        div.swiper-button-prev.slider-material-button-prev
                                            span=prev
                                        div.swiper-button-next.slider-material-button-next
                                            span=next
                                    div.container-button
                                        img.arrow(src=require('./img/arrow.png'))
                                        button.order.open-form Заказать
                        +createSlideMaterial('karagach', require('./img/material/korgach.png'), 'Карагач', '', 'Клён', 'Лиственное дерево, внешне схож с вязом. Произрастает в Средней Азии и Южном Урале..'
                        , 'Карагач уникален по своим качествам и относится к полудрагоценным породам древесины, имеет тёмно- красный или коричневый оттенок. Древесина отличается плотностью, но легко обрабатывается, стойка к внешним воздействиям и не гниёт. Наряду с этим древесина плохо поддаётся шлифовке и окрашиванию. При высыхании не коробится и не трескается, а также является влагостойкой породой.'
                        , 'Мебель из карагача, даже после обработки издаёт особый аромат, благоприятно действующий на человека, поэтому мебель из этой породы идеально подходит для дома или дачи.'
                        )
                        +createSlideMaterial('klen', require('./img/material/klen.png'), 'Клён', 'Карагач', 'Ясень', 'Произрастает в основном в России, Канаде и восточной части США.'
                        , 'Преимущественно однородное строение, поздняя древесина имеет более тёмный цвет. По своим прочностным характеристикам значительно превосходит Дуб. Высокая способность удерживать крепления, на уровне твердолиственных пород дуба, ясеня и бука.' +
                        'Благодаря прямослойности, и высокой равноплотности древесина хорошо обрабатывается, шлифуется и лакируется, однако склонна к изменению цвета с прошествием времени.'
                        , 'Проявляет особую стабильность формы и размеров, наиболее популярное применение для изготовления столешниц для ресторанов и кафе.'
                        )
                        +createSlideMaterial('yasen', require('./img/material/yasen.png'), 'Ясень', 'Клён', 'Щелковица', 'Распространён в умеренном поясе Северного полушария и субтропических зонах. Имеет широкую градацию цвета.'
                        , 'Древесина ясеня по своим характеристикам схожа с дубом. Является прочной породой с ярко выраженной текстурой и существенно превосходит дуб по стойкости к деформации и внешним воздействиям. Способность удерживать крепления значительно выше, чем у большинства пород, включая дуб. При надлежащем уходе изделия из данного материала долговечны. Древесина обязательно подвергается антисептической обработке, для защиты от влаги. При высыхании не подвержен возникновению трещин.'
                        , 'Считается что ясень благоприятно влияет на сон человека, поэтому идеально подходит для изготовления кроватей и мебели для спальни.'
                        )
                        +createSlideMaterial('shelkovitsa', require('./img/material/shelkovica.png'), 'Шелковица', 'Ясень', 'Дуб', 'Распространена в теплом умеренном и субтропических поясах Северной Америки, Африки и Азии.'
                        , 'Древесина шелковицы имеет высокую плотность, она вязкая и тяжелая, плохо поглощает влагу, из-за чего трудоемка при обработке защитными составами. Часто используется для изготовления бочек для элитных алкогольных напитков. Имеет приятный цвет, красивую текстуру и высокую прочность.'
                        , 'Шелковица считается достаточно редким и эксклюзивным материалом, чем старше дерево, тем ценнее древесина. Поэтому мебель изготовленная из данного материала прекрасно подходит как для офиса, так и для дома.'
                        )
                        +createSlideMaterial('dub', require('./img/material/dub.png'), 'Дуб', 'Щелковица', 'Тополь', 'Произрастает в регионах Северного полушария с умеренным климатом. Живёт в среднем 1000 лет. Чем больше возраст дерева, тем выше качество его древесины и производимых из неё изделий.'
                        , 'Для древесины дуба характерны прочность, крепость, плотность, тяжесть и твёрдость. Древесина дуба мёртвая и заполнена специальными веществами, которые естественным образом предохраняют её от гниения. Прочность, экологичность и долговечность совместно с насыщенным цветом делают дуб идеальным материалом для создания по настоящему уникальной мебели.'
                        , 'Массив дуба — это прекрасный материал для изготовления мебели для дома, которая прослужит вам и вашим детям долгое время.'
                        )
                        +createSlideMaterial('topol', require('./img/material/topol.png'), 'Тополь', 'Дуб', 'Орех', 'Преимущественно произрастает в Евразии, Северной африке и Северной Америке.'
                        , 'Древесина тополя имеет однородное строение, в основном с прямыми годичными слоями на срезе. Древесина тополя мягкая, но достаточно вязкая, за счет чего трудно расщепляется и раскалывается. Способность удерживать крепления- средняя. Хорошо впитывает влагу за счёт чего легко обрабатывается защитными составами, однако, подвержена биоповреждениям.'
                        , 'Сфера применения: одно из самых ценных качеств тополя это необыкновенно красивые плоские разрезы его комлевой части, поэтому изделия из данного материала имеют широкую сферу применения от изготовления кухонных принадлежностей и столов, до производства мебели для переговорных комнат и рабочих кабинетов.'
                        )
                        +createSlideMaterial('oreh', require('./img/material/oreh.png'), 'Орех', 'Тополь', '', 'Как вид появился в средней Азии, однако сейчас является как дикорастущим, так и кулитивируемым. Средний срок жизни до 500 лет.'
                        , 'Является одной из самых редких и ценных пород. Древесина хорошо обрабатывается, полируется, имеет плотную и вязкую структуру, устойчива к процессам гниения и образованию паразитов. Имеет приятный темный оттенок, чем темнее древесина ореха, тем выше её ценность. Равномерная структура материала хорошо удерживает крепления, готовые изделия не склонны к растрескиванию.'
                        , 'Изделия из Ореха несомненно станут элитным и уникальным украшением для любого интерьера.'
                        )
            div.arrow-bottom
        div.section.fourthPage(data-anchor='fourthPage')#fourthPage
            div.wrap
                div.container-title
                    h1 Идеально для
                        h1.dynamicText
                div.slider-two.swiper-container
                    div.swiper-wrapper
                        div.swiper-slide.first-slide
                        div.swiper-slide.second-slide
                        div.swiper-slide.third-slide
                div.nav
                    div.swiper-button-prev.slider-two-button-prev
                    div.swiper-button-next.slider-two-button-next
            div.arrow-bottom
        div.section.fivthPage(data-anchor='fivthPage')#fivthPage
            div.container-slide-five
                div.container-information
                    div.text-information
                        span Восстановление мебели
                        p Кропотливый и трудоемкий процесс, который требует ответственного подхода. Наши мастера оказывают профессиональные услуги по реставрации мебели любой сложности. Современная дизайнерская мебель с появившимися дефектами или антикварный комод вашей бабушки, мы качественно и в срок реализуем любой проект.
                        h2 Наш секрет
                        p Это индивидуальный подход к каждому проекту. Мы изучаем материалы из которого изготовлена мебель и определяем недостатки которые необходимо исправить. Восстанавливаем утраченные и вышедшие из строя детали, и элементы. Максимально точно подбираем или изготавливаем материалы, которые изначально использовались в вашем изделии. Наша главная задача, чтобы после реставрации мебель не утратила своей аутентичности.
                        h2 Доверьтесь профессионалам из Sawedwood
                        p.last Благодаря нам, вы сможете дать вторую жизнь любимым предметам интерьера и мебель прослужит вам еще долгие годы.
                        div.container-button
                            img.arrow(src=require('./img/arrow.png'))
                            button.order.open-form Заказать реставрацию
                div.wrai-img
                    img(src=require('./img/result.jpg'))
            div.arrow-bottom
        div.section.sixthPage(data-anchor='sixthPage')#sixthPage
            div.container-page
                h1 Как мы работаем
                div.container-etap
                   include ../../components/etaps/etapt
                   +createEtap(require('./img/how-we-worked/1.svg'), '1', 'Заказ')
                   +createEtap(require('./img/how-we-worked/2.svg'), '2', 'Согласование дизайна')
                   +createEtap(require('./img/how-we-worked/3.svg'), '3', 'Предоплата')
                   +createEtap(require('./img/how-we-worked/4.svg'), '4', 'Изготовление')
                   +createEtap(require('./img/how-we-worked/5.svg'), '', 'Доставка')
                include ../../components/indicators/indicators
                div.container-indicators
                    div.indicators-content
                        div.flexibli
                            +crateIndication('first-indicators', 'лет', 'Средний срок службы нашей мебели')
                            +crateIndication('second-indicators', 'дня', 'Уходит на изготовление')
                        div.flexibli
                            +crateIndication('third-indicators', 'кг', 'Средний вес одного стола')
                            +crateIndication('fourth-indicators', 'года', 'Срок полной гарантии')
            div.arrow-bottom
        div.section.seventhPage(data-anchor='seventhPage')#seventhPage
            include ../../components/galery/galery
            div.arrow-bottom
        div.section.eighthPage(data-anchor='eighthPage')#eighthPage
            include ../../components/contact/contact
            div.arrow-bottom