extends ../../components/head/head
block title
    | Sawedwood

block main
    include ../../components/header/header
    include ../../components/form/form
    div.slider-page
        div.section.firstPage(data-anchor='')#-
            div.container-slide
                div.container-information
                    div.text-information
                        span.typed-text Авторская мебель ручной работы
                        div.container-button
                            img.arrow(src=require('./img/arrow.png'))
                            button.order.open-form Заказать
                    span.coutter-slider
                        div.swiper-pagination
                div.slider-one.swiper-container
                    div.swiper-wrapper
                        img.swiper-slide.one-slide(src=require('./img/first-slider/first-image.png'))
                        img.swiper-slide.two-slide(src=require('./img/first-slider/first-image.png'))
                        img.swiper-slide.three-slide(src=require('./img/first-slider/first-image.png'))
                    div.nav
                        div.swiper-button-prev.slider-one-button-prev
                        div.swiper-button-next.slider-one-button-next
            div.arrow-bottom
        div.section.secondPage(data-anchor='secondPage')#secondPage
            div.container-slide-page-two
                h1 Почему нас выбирают
                div.container-why-we
                    mixin creaceCard(pathImg, textTitle, textContent, className)
                        div.item
                            div.item-pic(class=className)
                                img(src=pathImg)
                            div.item-text=textTitle
                            div.item-descr
                                span=textContent
                    +creaceCard(require('./img/why-me/house_icon.svg'), 'Собственное производство', 'Мы изготавливаем мебель с большой любовью к своему делу, убедитесь в этом сами, посетив наши мастерские, которые находятся в Москве. В них команда опытных технологов, дизайнеров и краснодеревщиков творят настоящие чудеса. Для реализации ваших идей мы используем самое современное и технологичное оборудование.', 'one-element')
                    +creaceCard(require('./img/why-me/handmade.svg'), 'Ручная работа', 'Один из наших принципов — это индивидуальный подход к клиенту. Каждый стол создаётся вручную специально для вас. Мы не приверженцы массового производства, на изготовление одного стола наши мастера затрачивают в среднем один месяц. Только так мы можем гарантировать качество нашей продукции и учесть каждую мелочь, чтобы в конечном итоге вы получили уникальный и качественный предмет интерьера.', 'two-element')
                    +creaceCard(require('./img/why-me/material.svg'), 'Натуральные материалы', 'Для производства мебели мы используем только массив ценных пород натуральной древесины, благодаря этому гарантируем долговечность и качество продукции. Вся мебель покрывается только натуральными маслами, обладает уникальной природной красотой, не содержит вредных веществ и создаёт благоприятный и здоровый климат в помещении.', 'three-element')
                    +creaceCard(require('./img/why-me/design.svg'), 'Индивидульный дизайн', 'Мы любим сложные задачи и готовы реализовать любой амбициозный проект. Изготавливаем изделия любой сложности и в любых объемах, как для частных, так и для коммерческих объектов. Свяжитесь с нами, и мы качественно реализуем вашу задумку и поможем в разработке проекта.', 'four-element')
                    +creaceCard(require('./img/why-me/garanty.svg'), 'Бессрочная гарантия', 'За качество отвечаем. Мы уверены в нашей продукции и поэтому гарантируем, что у мебели будут отсутствовать материальные или производственные дефекты. Первоклассный сервис не заканчивается после покупки. Раз в год, при необходимости, наши специалисты готовы произвести гарантийное обслуживание вашего изделия- исправить возникшие в процессе эксплуатации дефекты или устранить следы естественного износа. ', 'five-element')
            div.arrow-bottom
        div.section.thirdPage(data-anchor='thirdPage')#thirdPage
            div.content-slide-page-three
                div.title-slide
                    h1 Только натуральные материалы
                div.content-material
                    mixin createMaterial(classname, textTitle)
                        div.img(class=classname)
                            span=textTitle
                    div.first
                        +createMaterial('korgach', 'Каргач')
                        +createMaterial('klen', 'Клён')
                    div.second
                        +createMaterial('yasen', 'Ясень')
                    div.threed
                        +createMaterial('shelkovica', 'Шелковица')
                    div.fourth
                        +createMaterial('dub', 'Дуб')
                        +createMaterial('topol', 'Тополь')
                    div.fifth
                        +createMaterial('oreh', 'Орех')
            div.wrapper
                div.full-information-material.swiper-container
                    div.swiper-wrapper
                        mixin createSlideMaterial (imgPaht, title, prev, next, textFirstP, textSecondP, textThreedP)
                            div.swiper-slide
                                div.inform
                                    img.igm(src=imgPaht)
                                    div.close.close-slider
                                    span.title=title
                                    p=textFirstP
                                    p=textSecondP
                                    p.last=textThreedP
                                    div.nav
                                        div.swiper-button-prev.slider-material-button-prev
                                            span=prev
                                        div.swiper-button-next.slider-material-button-next
                                            span=next
                                    div.container-button
                                        img.arrow(src=require('./img/arrow.png'))
                                        button.order.open-form Заказать
                        +createSlideMaterial(require('./img/material/korgach.png'), 'Кагач', '', 'Клён', 'Лиственное дерево, внешне схож с вязом. Произрастает в Средней Азии и Южном Урале..'
                        , 'Карагач уникален по своим качествам и относится к полудрагоценным породам древесины, имеет тёмно- красный или коричневый оттенок. Древесина отличается плотностью, но легко обрабатывается, стойка к внешним воздействиям и не гниёт. Наряду с этим древесина плохо поддаётся шлифовке и окрашиванию. При высыхании не коробится и не трескается, а также является влагостойкой породой.'
                        , 'Мебель из карагача, даже после обработки издаёт особый аромат, благоприятно действующий на человека, поэтому мебель из этой породы идеально подходит для дома или дачи.'
                        )
                        +createSlideMaterial(require('./img/material/klen.png'), 'Клён', 'Кагач', 'Ясень', 'Произрастает в основном в России, Канаде и восточной части США.'
                        , 'Преимущественно однородное строение, поздняя древесина имеет более тёмный цвет. По своим прочностным характеристикам значительно превосходит Дуб. Высокая способность удерживать крепления, на уровне твердолиственных пород дуба, ясеня и бука.' +
                        'Благодаря прямослойности, и высокой равноплотности древесина хорошо обрабатывается, шлифуется и лакируется, однако склонна к изменению цвета с прошествием времени.'
                        , 'Проявляет особую стабильность формы и размеров, наиболее популярное применение для изготовления столешниц для ресторанов и кафе.'
                        )
                        +createSlideMaterial(require('./img/material/yasen.png'), 'Ясень', 'Клён', 'Щелковица', 'Распространён в умеренном поясе Северного полушария и субтропических зонах. Имеет широкую градацию цвета.'
                        , 'Древесина ясеня по своим характеристикам схожа с дубом. Является прочной породой с ярко выраженной текстурой и существенно превосходит дуб по стойкости к деформации и внешним воздействиям. Способность удерживать крепления значительно выше, чем у большинства пород, включая дуб. При надлежащем уходе изделия из данного материала долговечны. Древесина обязательно подвергается антисептической обработке, для защиты от влаги. При высыхании не подвержен возникновению трещин.'
                        , 'Считается что ясень благоприятно влияет на сон человека, поэтому идеально подходит для изготовления кроватей и мебели для спальни.'
                        )
                        +createSlideMaterial(require('./img/material/shelkovica.png'), 'Шелковица', 'Ясень', 'Дуб', 'Распространена в теплом умеренном и субтропических поясах Северной Америки, Африки и Азии.'
                        , 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                        , 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. '
                        )
                        +createSlideMaterial(require('./img/material/dub.png'), 'Дуб', 'Щелковица', 'Тополь', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                        , 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                        , 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. '
                        )
                        +createSlideMaterial(require('./img/material/topol.png'), 'Тополь', 'Дуб', 'Орех', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                        , 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                        , 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. '
                        )
                        +createSlideMaterial(require('./img/material/oreh.png'), 'Орех', 'Тополь', '', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                        , 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                        , 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. '
                        )
            div.arrow-bottom
        div.section.fourthPage(data-anchor='fourthPage')#fourthPage
            div.wrap
                div.container-title
                    h1 Идеально для
                        h1.dynamicText бара и ресторана
                div.slider-two.swiper-container
                    div.swiper-wrapper
                        div.swiper-slide.first-slide
                        div.swiper-slide.second-slide
                        div.swiper-slide.third-slide
                    div.nav
                        div.swiper-button-prev.slider-two-button-prev
                        div.swiper-button-next.slider-two-button-next
            div.arrow-bottom
        div.section.fivthPage(data-anchor='fivthPage')#fivthPage
            div.container-slide-five
                div.container-information
                    div.text-information
                        span Вернём к жизни вашу мебель
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        h2 Lorem ipsum
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        h2 Lorem ipsum
                        p.last Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        div.container-button
                            img.arrow(src=require('./img/arrow.png'))
                            button.order.open-form Заказать реставрацию
                span.vertical Реставрация
                div.slider-three.swiper-container
                    div.result
                        span До
                        span После
                    div.swiper-wrapper
                        img.swiper-slide.one-slide(src=require('./img/result.png'))
                        img.swiper-slide.two-slide(src=require('./img/result.png'))
                        img.swiper-slide.three-slide(src=require('./img/result.png'))
                    div.nav
                        div.swiper-button-prev.slider-three-button-prev
                        div.swiper-button-next.slider-three-button-next
            div.arrow-bottom
        div.section.sixthPage(data-anchor='sixthPage')#sixthPage
            div.container-page
                h1 Как мы работаем
                div.container-etap
                   include ../../components/etaps/etapt
                   +createEtap(require('./img/how-we-worked/1.svg'), '1.', 'Заказ')
                   +createEtap(require('./img/how-we-worked/2.svg'), '2.', 'Согласование дизайна')
                   +createEtap(require('./img/how-we-worked/3.svg'), '3.', 'Предоплата')
                   +createEtap(require('./img/how-we-worked/4.svg'), '4.', 'Изготовление')
                   +createEtap(require('./img/how-we-worked/5.svg'), '', 'Доставка')
                include ../../components/indicators/indicators
                div.container-indicators
                    div.indicators-content
                        div.flexibli
                            +crateIndication('first-indicators', 'лет', 'Средний срок службы нашей мебели')
                            +crateIndication('second-indicators', 'дня', 'Уходит на изготовление')
                        div.flexibli
                            +crateIndication('third-indicators', 'кг', 'Средний вес одного стола')
                            +crateIndication('fourth-indicators', 'года', 'Срок полной гарантии')
            div.arrow-bottom
        div.section.seventhPage(data-anchor='seventhPage')#seventhPage
            include ../../components/galery/galery
            div.arrow-bottom
        div.section.eighthPage(data-anchor='eighthPage')#eighthPage
            include ../../components/contact/contact
            div.arrow-bottom