div.containder-contact
    div.text-info
        h1 Контакты
        div.phone-and-mail
            div.phone
                img(src=require('./img/phone.png'))
                div.num
                    span
                        a(href='tel:89152685683') 8 (915) 268-56-83
                    span
                        a(href='tel:89157296780') 8 (915) 729-67-80
            div.mail
                img(src=require('./img/mail.png'))
                span
                    a(href='mailto:sawedwoods@gmail.com') sawedwoods@gmail.com
        div.map-data
            div.addres
                img(src=require('./img/map-point.png'))
                div.txt
                    h1 Шоу-рум
                    span Новорижское шоссе, Твой Дом, 5 км от МКАД
        div.map-data
            div.addres
                img(src=require('./img/map-point.png'))
                div.txt
                    h1 Производство
                    span Московская обл., г. Одинцово, ул. Транспортная, 10
        div.social
            a(href='#')
                img.fb(src=require('./img/fb.png'))
            a(href='#')
                img.insta(src=require('./img/insta.png'))
    img.map(src=require('./img/map.png'))