div.containder-contact
    div.text-info
        h1 Контакты
        div.phone-and-mail
            div.phone
                img(src=require('./img/phone.png'))
                div.num
                    span
                        a(href='tel:89152685683') 8 (915) 268-56-83
                    span
                        a(href='tel:89157296780') 8 (915) 729-67-80
            div.mail
                img(src=require('./img/mail.png'))
                span
                    a(href='mailto:sawedwoods@gmail.com') sawedwoods@gmail.com
        div.map-data
            div.addres
                img(src=require('./img/map-point.png'))
                div.txt
                    h1 Шоу-рум
                    span Новорижское шоссе, Твой Дом, 5 км от МКАД
        div.map-data
            div.addres
                img(src=require('./img/map-point.png'))
                div.txt
                    h1 Производство
                    span Московская обл., г. Одинцово, ул. Транспортная, 10
        div.social
            a(href='https://www.facebook.com/SawedWood-%D0%A1%D1%82%D0%BE%D0%BB%D1%8B-%D1%80%D1%83%D1%87%D0%BD%D0%BE%D0%B9-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B-%D0%B2-%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B5-215175422393270/')
                img.fb(src=require('./img/fb.png'))
            a(href='https://www.instagram.com/sawedwood/')
                img.insta(src=require('./img/insta.png'))
    div.map